.benefits {
    padding-top: 60px;
    padding-bottom: 60px;
}

.benefits__subtitle{
   
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.benefits__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    
}

.benefits__inner {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.benefits__icon {
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 767px) {
    .benefits__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .benefits__subtitle {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .benefits__subtitle {
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    .benefits__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

@media screen and (min-width: 768px) {
    .benefits__item {
        height: 251px;
        margin: 15px;
        width: calc((100% - 2 * 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .benefits__item {
        width: calc((100% - 4 * 30px) / 4);
        height: 251px;
        width: 270px;
    }
}

