.details {
    padding-top: 0;
    display:none;
    @media screen and (min-width: 1200px) {
            display: block;
        }
}

.details__tagline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-color-black);
    margin-bottom: 50px;
    @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
        }
}

.details__list {
    display: flex;
    position: relative;
    gap: 30px;
}

.details__text {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--third-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}