.section-portfolio {
    padding-top: 60px;
        padding-bottom: 60px;
    
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
    
        @media screen and (max-width: 479px) {
            padding-left: 15px;
            padding-right: 15px;
        }
}

.section-portfolio__list {
display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: 40px;

    grid-gap: 8px;
    grid-row-gap: 15px;

    @media (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.section-portfolio__navigation {
    text-align: center;
}

.section-portfolio__button {
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary-color-black);
    background-color: var(--seventh-color);
    line-height: 1.62;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    letter-spacing: 0.03em;
    transition: color var(--timing-function), background-color var(--timing-function), box-shadow var(--timing-function), filter var(--timing-function);
&.current,
&:hover,
&:focus {
    background-color: var(--fourth-color-blue);
    color: var(--third-color-white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
}
.work-examples {
display: grid;
    grid-template-columns: auto;
    gap: 30px 30px;
    align-items: stretch;

    @media screen and (min-width: 480px) {
        grid-template-columns: auto;
    }

    @media screen and (min-width: 768px) {
        grid-template-columns: auto auto;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: auto auto auto;
    }
}

// .work-examples__item {
//     margin-right: 30px;
//     margin-bottom: 30px;
// }

// .work-examples> {
//     flex-basis: calc(100% /3 - var(--list_items_main-gap));
//     margin-left: var(--list_items_main-gap);
//     margin-top: var(--list_items_main-gap);
// }

.work-examples__link {
    display: block;
    transition: box-shadow var(--timing-function);
&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
}
}
.link-portfolio {
    text-decoration: none;
}
.work-examples__wrapper {
    position: relative;
    overflow: hidden;
}

.work-examples__images {
    width: 370px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.work-examples__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--third-color-white);
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples__link:hover .work-examples__overlay,
.work-examples__link:focus .work-examples__overlay {
    transform: translateY(0%);
}

.work-examples__navigation {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid var(--fifth-color);
}

.work-examples__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--sixth-color);
}

.work-examples__text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--main-color-grey);
}