body {
    font-family: 'Roboto', sans-serif;
    background: var(--third-color-white);
    color: var(--main-color-grey);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
